* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1340px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.item {
    width: 255px;
    height: 255px;
    background-color: green;
    cursor: pointer;
}